<!-- <div ng-include src="'partials/navbar'"></div> -->

<div class='row'>
  <div class='col-md-7'>
    <div class='panel panel-primary'>
      <div class='panel-heading table-responsive'>List of instances</div>
      <table id='instances' class='panel-body table table-striped table-hover table-condensed'>
        <thead>
          <tr>
            <td><strong>ID</strong></td>
            <td><strong>Name</strong></td>
            <!-- <td>Instance Type</td> -->
            <!-- <td>Root Device Type</td> -->
            <td><strong>State</strong></td>
            <!-- <td>Key Name</td> -->
            <td>Launch Time</td>
            <td>CurrentCost</td>
            <!-- <td>Description</td> -->
            <!-- <td>Environment</td> -->
            <!-- <td>Contact</td> -->
            <!-- <td>Workhours</td> -->
            <td><strong>CostGroup</strong></td>
          </tr>
        </thead>
        <!-- <tbody ui-sortable ng-model='instancesList'  style='cursor: move;'> -->
        <tbody>
          <tr ng-repeat='instance in instancesList' class='instance'>
            <td>{{instance.id}}</td>
            <td>{{instance.name}}</td>
            <!-- <td>{{instance.instance_type}}</td> -->
            <!-- <td>{{instance.root_device_type}}</td> -->
            <td>{{instance.state}}</td>
            <!-- <td>{{instance.key_name}}</td> -->
            <td>{{instance.launch_time}}</td>
            <td>{{instance.current_cost}}</td>
            <!-- <td>{{instance.Description}}</td> -->
            <!-- <td>{{instance.Environment}}</td> -->
            <!-- <td>{{instance.Contact}}</td> -->
            <!-- <td>{{instance.Workhours}}</td> -->
            <td>{{instance.CostGroup}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='col-md-5'>
    <div class='panel panel-primary'>
      <div class='panel-heading table-responsive'>Details</div>
      <div class='panel-body'>
        Tralara
      </div>
    </div>
  </div>
</div>