<!-- <div ng-include src="'partials/navbar'"></div> -->


<div class='row'>
  <div class='col-md-7'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>List of instances</div>
      <label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime">
        Open only one at a time
      </label>
      <accordion close-others='oneAtATime' class='panel-body'>
        <accordion-group ng-repeat='instance in instancesList' is-open='instance.isOpen'>
          <accordion-heading>
            <div class='accordion-heading-content'
                 ng:class='{collapsed: instance.isOpen}'>
              <span class="glyphicon glyphicon-expand"></span>
              {{instance.id}} - {{instance.name}} - $ {{instance.current_cost}}
            </div>
          </accordion-heading>
          <div class='row'>
            <div class='col-md-5 col-md-offset-1'><strong>Instance</strong></div>
            <div class='col-md-5 col-md-offset-1'><strong>Custom tags</strong></div>
          </div>
          <div class='row'>
            <ul class='col-md-5 col-md-offset-1'>
              <li>ID: {{instance.id}}</li>
              <li>Name: {{instance.name}}</li>
              <li>Current Cost: $ {{instance.current_cost}}</li>
              <li>Lauch Time: {{instance.launch_time}}</li>
              <li>Instance Type: {{instance.instance_type}}</li>
              <li>EBS Optimized: {{instance.ebs_optimized}}</li>
              <li>State: {{instance.state}}</li>
              <li>Key Name: {{instance.key_name}}</li>
            </ul>
            <ul class='col-md-5 col-md-offset-1'>
              <li>Description: {{instance.Description}}</li>
              <li>Environment: {{instance.Environment}}</li>
              <li>Contact: {{instance.Contact}}</li>
              <li>Workhours: {{instance.Workhours}}</li>
              <li>Cost Group: {{instance.CostGroup}}</li>
            </ul>
          </div>
          <div class='col-md-11 col-md-offset-1'><strong>Volumes</strong></div>
          <div class='row'>            
            <ul class='col-md-5 col-md-offset-1' ng-repeat='volume in instance.volumes'>              
              <li>VolumeId: {{volume.id}}</li>
              <li>Created: {{volume.create_time}}</li>
              <li>Size: {{volume.size}} GB</li>
              <li>IOPS: {{volume.iops}}</li>
            </ul>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class='col-md-5'>
    <div class='panel panel-primary' data-spy='affix' data-offset-top='10' data-offset-bottom='200'>
      <div class='panel-heading'>Details of the account</div>
      <div class='panel-body'>
        <br/>
        Total Current Cost: $ {{totalCost}}
      </div>
    </div>
  </div>
</div>